fdk_extension@git+https://github.com/gofynd/fdk-extension-python.git@v1.0.0#egg=fdk_extension
fdk_client@git+https://github.com/gofynd/fdk-client-python.git@1.0.2#egg=fdk_client
pydantic[dotenv]
sanic~=22.9